# Tuple(Second Data structures)

- Tuple defined using ()

- Immutable

- Use case : used in functions to `returm multiple values`

## Define Tuple

In [1]:
a_tuple = (10,20,30)

In [2]:
type(a_tuple)

tuple

## Read Tuple

In [3]:
a_tuple[0]

10

In [4]:
a_tuple[0:2] # slice = start:stop:step/stride

(10, 20)

## Manipulate Tuple

In [5]:
a_tuple[0]=11 # tuple is immutable

TypeError: 'tuple' object does not support item assignment

`Note: If only one value in tuple, it converts into respective datatype`

## Can not create tuple with one item

In [6]:
a_tuple1 = (10.33)

In [7]:
type(a_tuple1)

float

In [8]:
a_tuple2 = ("ram")

In [9]:
type(a_tuple2)

str

In [10]:
a_tuple3 =(10)

In [11]:
type(a_tuple3)

int

## Unpack (Tuple/list/str ... etc)

In [12]:
a_tuple = (1,30,45)

In [13]:
a_tuple

(1, 30, 45)

In [14]:
a,b,c = a_tuple

In [15]:
a

1

In [16]:
b

30

In [17]:
c

45

In [18]:
a,b =a_tuple

ValueError: too many values to unpack (expected 2)

In [19]:
a,b,c,d =a_tuple

ValueError: not enough values to unpack (expected 4, got 3)

## Convert tuple into list

In [20]:
a_tup = (10,20,30)
a_list = list(a_tup)
a_list

[10, 20, 30]

In [21]:
type(a_tup)

tuple

In [67]:
type(a_list)

list

## Convert list into tuple

In [2]:
a_list = [10,20,30]

In [3]:
type(a_list)

list

In [8]:
a_list

[10, 20, 30]

In [4]:
a_tuple = tuple(a_list)

In [6]:
type(a_tuple)

tuple

In [7]:
a_tuple

(10, 20, 30)